.texth1 h1{
    font-size: 25px;
}
.bigText {
    font-family: Arial, sans-serif;
    font-size: 25px ;
    max-width: 800px;
    margin: 0 auto;
    background: #1e1e1e30;
    padding:2pc;
    border-radius:40px;
    width: 400px;
    color: white;
    margin: 50px;
}
.img {
    display: flex;
    align-items: center;
    flex-direction: column;
}

 
.FOOCK {
    color: #ffffff; 
    font-size: 40px;  
    font-weight: bold;  
    text-align: center;
    padding: 10px;
    margin: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #f2f2f2;  
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;  
}

details {
    margin-bottom: 20px;  
}

summary {
    font-weight: bold;
    cursor: pointer;
}

summary::marker {
    content: "\25B6";  
}

details[open] summary::marker {
    content: "\25BC";  
}

p {
    margin-top: 0;
}
